<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MeetInTheMiddle</title>
  <link rel="stylesheet" href="static/custom.css">
  <link rel="stylesheet" href="static/bulma.css">
  <link rel="stylesheet" href="static/pikaday.css">
  <link rel="stylesheet" href="static/datepicker.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="static/example.js"></script>
  <script type="text/javascript" src="static/pikaday.js"></script>
  <script type="text/javascript" src="static/datepicker.min.js"></script>
  <script type="text/javascript" src="static/i18n/datepicker.en.js"></script>

</head>
<body>
  <div class="columns">
    <div class="column is-5 main-divider">
      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="card mar-top">
            <div class="card-content">
              <h4 class="pad-down">You</h4>
              <div class="columns">
                <div class="column is-8">
                  <label class="label">From</label>
                  <p class="control">
                    <input class="input" type="text" placeholder="John Smith">
                  </p>
                </div>
                <div class="column is-4">
                  <label class="label">Date</label>
                  <p class="control">
                    <input type='text' class="input datepicker-here" data-language='en' />
                  </p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="column">

    </div>
  </div>
</body>
<script>
$(document).ready(function() {
  var field = document.getElementById('datepicker');
  var picker = new Pikaday({
      onSelect: function(date) {
          field.value = picker.toString();
      }
  });
  field.parentNode.insertBefore(picker.el, field.nextSibling);
});

</script>
</html>
