<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MeetInTheMiddle</title>
  <link rel="stylesheet" href="static/custom.css">
  <link rel="stylesheet" href="static/bulma.css">
  <link rel="stylesheet" href="static/datepicker.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAut7TRhA_DVhsXUQFM0cr1es1lMv_ymDg&libraries=places&language=en">
  </script>
  <script type="text/javascript" src="static/datepicker.min.js"></script>
  <script type="text/javascript" src="static/i18n/datepicker.en.js"></script>
</head>

<body id="focus">
  <div id="overlay"></div>
  <div class="columns">

    <div class="column is-5 main-divider" id="main-block">
      <div class="columns rero">
        <div class="column is-12">
          <nav class="nav has-shadow">
            <div class="container">
              <div class="nav-left">
                <a class="nav-item">
                  <img src="http://i.imgur.com/YWaXvJF.png" alt="meetInTheMiddle logo">
                  <p class="nav-item ">Currency &nbsp; <b>£</b></p>
                </a>
              </div>
              <div class="nav-right nav-menu">
                <a class="nav-item is-tab button is-primary hoho">Back</a>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="columns add-trip">
        <div class="column is-10 is-offset-1">
          <div class="card mar-top">
            <div class="card-content">
              <h4 class="pad-down">Person 1</h4>
              <div class="columns">
                <div class="column dates">X</div>
              </div>
              <div class="columns">
                <div class="column is-6 person1">Many wow</div>
                <div class="column is-6 person2">idgidgwiudg</div>
              </div>
              <div class="columns">
                <div class="column">
                  <a href="http://www.skyscanner.com" class="button is-primary">Buy Flights</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-5 main-divider" id="back-block">
      <div class="columns rero">
        <div class="column is-12">
          <nav class="nav has-shadow">
            <div class="container">
              <div class="nav-left">
                <a class="nav-item">
                  <img src="http://i.imgur.com/YWaXvJF.png" alt="meetInTheMiddle logo">
                  <p class="nav-item">Currency &nbsp; <b>£</b></p>
                </a>
              </div>
              <div class="nav-right nav-menu">
                <a class="nav-item is-tab button is-primary lokos">Search</a>
              </div>
            </div>
          </nav>
        </div>
      </div>

      <div class="columns">
        <div class="column is-10 is-offset-1">
          <div class="card mar-top">
            <div class="card-content">
              <h4 class="pad-down">Person 1</h4>
              <div>
                <div class="columns">
                  <div class="column is-2 ">
                    <label class="label">From</label>
                  </div>
                  <div class="column is-10 ">
                    <input type='text' class="input pac-input" id="froma" placeholder="e.g. Los Angeles (LAX)" value="Bratislava" />
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-2 ">
                    <label class="label">Dates</label>
                  </div>
                  <div class="column is-4">
                    <input type='text' class="input datepicker-here" id="outbound" data-language='en' placeholder="Fly out" />
                  </div>
                  <div class="column is-2" style="text-align:center;">-</div>
                  <div class="column is-4">
                    <input type='text' class="input datepicker-here" id="inbound" data-language='en' placeholder="Fly back" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns kokso">
        <div class="column is-10 is-offset-1">
          <div class="card">
            <div class="card-content">
              <h4 class="pad-down">Person 2</h4>
              <div>
                <div class="columns">
                  <div class="column is-2 ">
                    <label class="label">From</label>
                  </div>
                  <div class="column is-10 ">
                    <input type='text' class="input pac-input" id="fromb" placeholder="e.g. Los Angeles (LAX)" value="Berlin" />
                  </div>
                </div>
                <div class="columns">
                  <div class="column is-2 ">
                    <label class="label">Dates</label>
                  </div>
                  <div class="column is-4">
                    <input type='text' class="input datepicker-here" data-language='en' placeholder="Fly out" />
                  </div>
                  <div class="column is-2" style="text-align:center;">-</div>
                  <div class="column is-4">
                    <input type='text' class="input datepicker-here" data-language='en' placeholder="Fly back" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="columns append-person-col">
        <div class="column is-offset-4 is-4" style="text-align:center;">
          <a id="append-person">
            <span class="icon is-medium">
              <i class="fa fa-plus-circle"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="column" id="map" style="min-height: 680px"></div>
  </div>
  <script type="text/javascript" src="static/map.js"></script>
</body>
<script>
  $(document).ready(function() {
    $('#main-block').hide();
  });

  var usToIso = function(s) {
    return s.split('/');
  };

  var IsoToUs = function(s) {
    var x = s.split('-');
    return x[2] + "/" + x[1] + "/" + x[0]
  }

  // SEARCH CALL
  $('.lokos').click(function() {
    var froma = $('#froma').val();
    var fromb = $('#fromb').val();
    var outbound = $('#outbound').val();
    outbound = usToIso(outbound);
    outbound = outbound[2] + "-" + outbound[0] + "-" + outbound[1];
    var inbound = $('#inbound').val();
    inbound = usToIso(inbound);
    inbound = inbound[2] + "-" + inbound[0] + "-" + inbound[1];

    var data = {
      fromA: froma,
      fromB: fromb,
      outbound: outbound,
      inbound: inbound
    };

    $.ajax({
      type: "GET",
      url: "/api/request",
      data: data,
      success: function(result) {
        $("#overlay").hide();
        //ACTIVATE NEW STUFF HERE
        $('#back-block').hide();

        var addtrip = $('#main-block').find('.add-trip');
        for (var i = 1; i < addtrip.length; i++) {
          addtrip[i].remove();
        }

        $('#main-block').show();
        var obj = JSON.parse(result);

        if (obj.length % 2 != 0) obj.pop;

        for (var i = 0; i < obj.length; i += 2) {
          var $relevant = $('#main-block').find('.add-trip').last();

          $relevant.find('.dates').html("From " + IsoToUs(obj[i].OutTime) + " till " + IsoToUs(obj[i].InTime));
          $relevant.find('.pad-down').html("<b>" + obj[i].DestinationName.split(' ')[0] + " for £" + (obj[i].Price + obj[i + 1].Price) + "</b>");
          $relevant.find('.person1').html($('#froma').val() + " > " + obj[i].DestinationName + " (return) for £" + obj[i].Price);
          $relevant.find('.person2').html($('#fromb').val() + " > " + obj[i + 1].DestinationName + " (return) for £" + obj[i + 1].Price);
          if (i >= obj.length - 1) $('#main-block').append($('.add-trip').last().clone());

          service = new google.maps.places.PlacesService(map);
          service.textSearch({
            query: obj[i].DestinationName
          }, function(data1) {
            service.textSearch({
              query: $('#fromb').val()
            }, function(data2) {
              service.textSearch({
                query: $('#froma').val()
              }, function(data3) {
                console.log(data2[0].geometry.location);
                createUserMarker(data2[0].geometry.location, map);
                createUserMarker(data3[0].geometry.location, map);

                createDestMarker(data1[0].geometry.location, map);

                createPath(data2[0].geometry.location, data1[0].geometry.location, map);
                createPath(data3[0].geometry.location, data1[0].geometry.location, map);





              })
            })
          });



        }
      }
    });

    // Continue with some stuff
    $("#overlay").show();
  });

  $('.hoho').click(function() {
    clearMap()
    $('#main-block').hide();
    $('#back-block').show();
  })


  var options = {
    types: ['(cities)']
  };
  var initAutocomplete = function() {
    var input = document.getElementsByClassName('pac-input');
    for (var i = 0; i < input.length; i++) {
      var autocomplete = new google.maps.places.Autocomplete(input[i], options);
      var infowindow = new google.maps.InfoWindow();
      var infowindowContent = document.getElementById('infowindow-content');
      infowindow.setContent(infowindowContent);
    }
  }

  initAutocomplete();

  $('#append-person').on('click', function() {
    $('.main-divider').append($('.kokso').first().clone());
    $('.kokso').last().find('.pad-down').html('Person ' + ($('.kokso').length));
    $('.kokso').parent().append($('.append-person-col'));
    initAutocomplete();
  });
</script>
</body>

</html>
